@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Regular_Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Light_Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Medium_Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Bold_Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Black_Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/fonts/HarmonyOS_Sans_Thin_Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  font-family: "HarmonyOS", sans-serif;
}
.leaflet-popup-content-wrapper {
  max-width: 200px;
  background-color: #ef4444 !important;
  padding: 10px;
  border-radius: 10px;
}
.leaflet-popup-tip {
  background-color: #ef4444 !important;
}
.leaflet-popup-content p {
  margin: 0px !important;
}
.leaflet-popup-close-button span {
  color: white;
}
li {
  list-style: none;
}
ol {
  list-style: decimal !important;
}
.custom-select {
  position: relative;
}

.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding-right: 2.5rem; /* Adjust padding to make space for the chevron */
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" /%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  pointer-events: none;
}

body {
  font-family: "HarmonyOS", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* src/fonts.css */
@font-face {
  font-family: "HarmonyOS";
  src: url("/src/fonts/HarmonyOS_Sans_Regular.ttf") format("woff2"),
    url("/src/fonts/HarmonyOS_Sans_Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS";
  src: url("/src/fonts/HarmonyOS_Sans_Light.ttf") format("woff2"),
    url("/src/fonts/HarmonyOS_Sans_Light.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS";
  src: url("/src/fonts/HarmonyOS_Sans_Medium.ttf") format("woff2"),
    url("/src/fonts/HarmonyOS_Sans_Medium.ttf") format("woff");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS";
  src: url("/src/fonts/HarmonyOS_Sans_Bold.ttf") format("woff2"),
    url("/src/fonts/HarmonyOS_Sans_Bold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}
